@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --font-family: "Open Sans", sans-seref;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #ffffff;
    --primary-color: #ff0800;
    --secondary-color: #ececec36;
    
    /* add shadows here */
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;

    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;

}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding-right: 100;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color)
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: right;
    justify-content: flex-end;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 {
    color: var(--primary-color);
  }

  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    align-items: right;
    gap: 1.9rem;
  }
  
  nav ul li {
    display: inline-block;
    padding: 0px 20px;
    font-weight: var(--bold-font);
  } 

  nav ul li a {
    transition: all 0.3s ease 0s;
  }



  .burger-menu {
    color: var(--primary-color);
    padding: 9px 25px;
    font-size: 1rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }