@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --font-family: "Open Sans", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #35b5ac;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }




html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  nav a:hover {
    color: var(--secondary-color);
  }
  
  body {
    font-family: var(--font-family);
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }


/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff
}

nav {
    padding: 1.5rem;
    box-shadow: 0 3px;
}

nav h1 {
    color: #30d5c8;
    font-family: "Open Sans", sans-serif;
    margin-right: auto;
}

li, a, button {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #36454f;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;  
} */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
  height: 20rem;
  width: 20rem;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px #8b8eaf
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }

.programming-skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.programming-skills h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
}

.skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 10rem;
    height: 10rem;
  }

  .logo {
    height: 5rem;
  }

  .icon-card {
      background-color: #fff;
      border-radius: 11px;
      box-shadow: 0 3px 10px var(--secondary-shadow);
      padding: 20px;
      margin: 10px;
  }

  .software-skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.software-skills h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
}

.job-experience {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.job-experience h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}


.socials {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}
.socials h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

.socials li {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  display: inline;
  margin: 10px 5px;
}

.socials li a {
  padding: 17px;
  font-size: 35px;
  border-radius: 50%;
  margin: 10px 10px;
}

.socials li a:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #833ab4;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-github {
  background: black;
  color: white;
}

.fa-spotify {
  color: #1db954;
  background: black;
}

.job {
  background-color: #d3d3d3;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
  text-align: left;
  margin-bottom: 2rem;
}

.organizations {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.organizations h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

.organization {
  background-color: #d3d3d3;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
  text-align: left;
  margin-bottom: 2rem;
}

.projects h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

.projects {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.projects h3 {
  font-size: 500;
  color: darkgray;
}